a, a:visited, a:hover, a:link, a:active {
    text-decoration: none; 
    color: black;
}
body{
    background-image: url('/bingo-hall3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0px 100px;
    box-sizing: border-box;
}
#root{
    width: 100%;
    height: 100%;
}
.app{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
button.home {
    font-size: 50px;
    height: 80px;
    width: 80px;
    position: fixed;
    top: 5px;
    left: 10px;
}
.main{
    background-color: rgba(255, 255, 255, 0.94);
    width: 100%;
    min-height: 100%;
    border-radius: 25px;
    box-sizing: border-box;
}
.splash {
    margin: 123px;
}
.hidden {
    visibility: hidden;
}

button {
    cursor: pointer;
}