a, a:visited, a:hover, a:link, a:active {
    text-decoration: none; 
    color: black;
}
body{
    background-image: url('/bingo-hall3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0px 100px;
    box-sizing: border-box;
}
#root{
    width: 100%;
    height: 100%;
}
.app{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.buttonbar {
    position: fixed;
    top: 5px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.buttonbar div {
    display: flex;
    flex-direction: column;   
}
.buttonbar button {
    font-size: 50px;
    height: 80px;
    width: 80px;
    margin-top: 25px; 
}
.buttonbar img {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 25px;
}
.main{
    background-color: rgba(255, 255, 255, 0.94);
    width: 100%;
    min-height: 100%;
    border-radius: 25px;
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
}

button {
    cursor: pointer;
}
.splash {
    margin: 123px;
}
.login-form  {
    width: 300px;
}
.login-form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.login-form div input {
    width: unset;
}
.splash input {
    margin: 5px;
    width: 280px;
}
.submit-btn {
    font-weight: 900;
}
.demo-user-btn {
    font-weight: 900;
    color: green;
}
.demo-user-btn:hover {
    cursor: pointer;
}
.submit-btn:hover {
    cursor: pointer;
}
.splash ul {
    color: red;
}
.login-form p {
    margin-left: 5px;
}
.signup-link {
    color: green !important;
    font-weight: 900;
}