body{
    background-image: url('/bingo-hall3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 50px 120px;
    box-sizing: border-box;
}
#root{
    width: 100%;
    height: 100%;
}
.app{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.main{
    background-color: rgba(255, 255, 255, 0.94);
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding: 25px;
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
}