.game table {
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
}
.game table td {
    border: 1px solid black;
    margin: 5px; 
    padding: 5px;
    font-size: 23px;
}

.clicked {
    background-color: red;
}

.clicked:hover, .unclicked:hover {
    cursor: pointer;
}

.clicked, .unclicked {
    user-select: none;
}