.games {
    display: flex;
}

.game table {
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
}
.game table td {
    border: 1px solid black;
    margin: 5px; 
    padding: 5px;
    font-size: 18px;
    width: 50px;
    height: 50px;
}

.free-spot {
    background-color: red;
    font-weight: 900;
    user-select: none;

}
.clicked {
    background-color: red;
    user-select: none;

}

.clicked:hover, .unclicked:hover {
    cursor: pointer;
}

.unclicked {
    user-select: none;
}