.game {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.game > div:first-child {
    width: 150px;
    font-size: 50px;
    margin: 100px 0px 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
}
.game .play {
    border: 10px solid lightgray;
    border-radius: 40px;
    padding: 20px;    
    color: lightgray;
    margin-top: 50px;
    user-select: none;
    transition: 0.4s;
}
.game .win {
    border: 10px solid green;
    border-radius: 40px;
    padding: 20px; 
    margin-top: 50px;
    user-select: none;
}
.game > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game .thead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    height: 100px;
    max-height: 100px;
    height: 100px;
    min-height: 100px;
    width: 100%;
    transition: 0.4s;
}
.game .thead > div{
    max-height: 100px;
    min-height: 100px;
    max-width: 800px;
    min-width: 80px;
    font-size: 36px;
    text-decoration: underline;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.4s;
}
.game .thead button {
    max-height: 80px;
    height: 80px;
    max-width: 80px;
    width: 80px;
    transition: 0.4s;
}
.game button .pencil {
    font-size: 42px;
    transition: 0.4s;
}
.game > div:last-child {
    width: 200px;
    margin: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
}

.game > div:last-child button {
    padding: 20px; 
    margin: 40px;
    font-size: 40px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.4s;
}
.game label {
    font-size: 23px;
    font-weight: 900;
    font-family: sans-serif;
    width: 120%;
    margin-left: 25px;
    transition: 0.4s;
}
.game label input {
    margin: 5px;
}
.game table {
    border: 5px solid black;
    padding: 5px;
    border-radius: 10px;
    font-family: sans-serif;
    border-spacing: 5px;
    transition: 0.4s;
}
.game table td {
    background-color: white;
    border: 1px solid black;
    font-size: 23px;
}
.game table td div {
    margin: 5px;
    max-width: 136px;
    width: 136px;
    max-height: 136px;
    height: 136px;
    overflow-y: auto;
    overflow-x: hidden;
    user-select:text;
    transition: 0.4s;
}
.free-spot {
    color: white;
    font-weight: 900;
    user-select: none;
    cursor: not-allowed !important;  
    background-color: #2D8CFF !important;
    transition: 0.2s;
}
.free-spot div {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.unclicked {
    user-select: none;
    transition: 0.4s;
    cursor: pointer;
}
.clicked {
    background-color: #2D8CFF !important;
    color: white;
    user-select: none;
    transition: 0.2s;
    font-weight: 900;
    cursor: pointer;
}
.winner {
    font-weight: 900;
    background-color: #FF372D !important;
    color: white;
    transition: 0.4s;
    cursor: pointer;

}
.blackout td {
    font-weight: 900;
    background-color: #123 !important;
    color: white;
    transition: 0.8s;    
}
.disabled {
    color: lightgray;
}

@media screen and (max-width: 1600px) {
    .game > div:first-child {
        margin-top: 150px;   
        transition: 0.4s;
    }
    .game .play {
        font-size: 36px;
        padding: 10px;
        transition: 0.4s;
    }
    .game .thead {
        max-height: 50px;
        min-height: 50px;
        transition: 0.4s;
    }
    .game .thead > div{
        font-size: 23px;
        max-height: 50px;
        min-height: 50px;
        transition: 0.4s;
    }
    .game .thead button {
        height: 50px;
        width: 50px;
        transition: 0.4s;
    }
    .game button .pencil {
        font-size: 27px;
        margin-left: -7px;
        transition: 0.4s;
    }
    .game table {
        border: 3px solid black;
        padding: 1px;
        border-radius: 5px;
        font-family: sans-serif;
        border-spacing: 3px;
        transition: 0.4s;
    }
    .game table td div {
        font-size: 14px;
        margin: 3px;
        max-width: 64px;
        width: 64px;
        max-height: 64px;
        height: 64px;
        transition: 0.4s;
    }
    .free-spot div {
        font-size: 23px;
        transition: 0.4s;
    }
    .game > div:last-child button {
        padding: 10px;
        margin: 20px;
        font-size: 20px;
        transition: 0.4s;
    }
    .game label {
        font-size: 14px;
        transition: 0.4s;
    }
}