.games {
    display: flex;
    justify-content: center;
}
.game {
    display: flex;
    justify-content: space-around;
    width: 100%;

}
.game > div:first-child {
    width: 200px;
    font-size: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game .play {
    border: 10px solid lightgray;
    border-radius: 40px;
    padding: 20px;    
    color: lightgray;
    margin: 50px;
    user-select: none;
}
.game .win {
    border: 10px solid green;
    border-radius: 40px;
    padding: 20px; 
    margin: 50px;
    user-select: none;
}
.game .thead {
    text-align: center;
    font-size: 36px;
    padding: 5px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.game > div:last-child {
    width: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game > div:last-child button {
    padding: 20px; 
    margin: 40px;
    font-size: 40px;
    font-weight: 900;
    cursor: pointer;
}
.game label {
    font-size: 23px;
    font-weight: 900;
    font-family: sans-serif;
}
.game label input {
    margin: 5px;
}
.game table {
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    font-family: sans-serif;
}
.game table td {
    border: 1px solid black;
    margin: 5px; 
    font-size: 23px;
    
}
.game table td div {
    padding: 10px;
    max-width: 136px;
    width: 136px;
    max-height: 136px;
    height: 136px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    user-select:text;
}

.free-spot {
    background-color: red;
    font-weight: 900;
    user-select: none;
    cursor: not-allowed;  
}
.free-spot div {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clicked {
    background-color: red;
    user-select: none;

}

.clicked:hover, .unclicked:hover {
    cursor: pointer;
}

.unclicked {
    user-select: none;
}