.wordlists {
    height: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}
.wordlists > div {
    height: 100%;
    display: flex;
    overflow-x: auto;
}
.wordlists .new a{
    padding: 5px 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
}
.wordlists .new .title {
    font-size: 36px;
}
.wordlists .new>div {
    font-size: 42px;
    font-weight: 900;
    font-family: sans-serif;
    text-align: center;
    margin-top: 125px;
}
.wordlists ul {
    min-width: 400px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wordlists .title {
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-bottom: 3px solid black;
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 900;
    color: green;
    overflow: hidden;
}
.wordlists ul .title div {
    width: 100%;
    color: green;
}
.wordlists ul a{
    margin: 5px;
}
.wordlists ul div:nth-child(2) {
    overflow-x:hidden;
    overflow-y:auto;
}

.wordlists ul li{
    margin: 5px 10px;
}
.wordlists ul li div{
    display: flex;
    align-items: center;
}
.pencil {
   font-family: serif;
   font-size: 23px;
}
.wordlists .delete{
    color: red;
    font-weight: 900;
    font-family: sans-serif;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 60%;
}
.wordlists .delete:hover {
    cursor: pointer;
}
.new-wordlist {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.new-wordlist > div {
    border: 1px solid gray;
    border-radius: 10px;
    min-width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.new-wordlist div > input {
    font-size: 24px;
    width: 90%;
    padding: 5px 10px;
}
.new-wordlist>div>div:first-of-type {
    background-color: lightgray;
    border: 5px solid black;
    font-weight: 900;
    font-size: 36px;
    border-radius: 10px;
    width: 200px;
    margin-top: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
}
.save-button {
    color: green;  
}
.save-button-disabled {
    color: gray;
}
.save-button:hover {
    cursor: pointer;
}
.disclaimer {
    font-style: oblique;
    font-size: 12px;
    font-family: sans-serif;
}
.hidden-disclaimer {

}
ul {
    border: 1px solid black;
    min-height: 20px;
    min-width: 50%;
    max-width: 50%;
    padding: 0;
}
ul li {
    margin: 5px auto;
    /* padding: 2px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border-bottom: 3px solid transparent;
}
ul li:hover {
    border-bottom: 3px solid lightsteelblue;
}

ul li button {
    margin: 0 5px 3px 0;
}

ul li button:hover {
    cursor: pointer;
}
button div {
    margin: 3px;
}
.new-wordlist form {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.new-wordlist form input {
    margin: 5px;
}
.new-wordlist form input:last-of-type {
    cursor: pointer;
}
.new-wordlist a div {
    font-size: 36px;
    font-weight: 900;
    color: blue;
    border-radius: 5px;
    width: 500px;
    padding: 5px 15px;
}