.wordlists {
    height: 100%;
}
.wordlists a div {
    font-size: 36px;
    font-weight: 900;
    color: blue;
    border-radius: 5px;
    width: 500px;
    padding: 5px 15px;
}

.wordlists-panel {
    display: flex;
    overflow: auto;
    height: 90%;
}
h3:hover {
    cursor: pointer;
}
.wordlists ol {
    min-width: 250px;
    border: 1px solid gray;
    margin: 5px;
    /* padding: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wordlists ol a{
    margin: 5px;
}
.wordlists ol div {
    overflow-x:hidden;
    overflow-y:auto;
}

.wordlists ol li{
    margin: 5px 10px;
    display: flex;
}
.wordlists ol li div{
    overflow: auto;
    /* width: 50%; */
}

.wordlists .delete{
    color: red;
    font-weight: 900;
    font-family: sans-serif;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 60%;
}
.wordlists ol div:last-child:hover {
    cursor: pointer;
}


.new-wordlist {
    border: 1px solid gray;
    border-radius: 10px;
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-wordlist > input{
    font-size: 24px;
    width: 90%;
    padding: 5px 10px;
}
.disclaimer {
    font-style: oblique;
    font-size: 12px;
    font-family: sans-serif;
}
.save-button {
    color: green;
    background-color: lightgray;
    border: 5px solid black;
    font-weight: 900;
    font-size: 36px;
    border-radius: 10px;
    width: 200px;
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
}
.save-button:hover {
    cursor: pointer;
}
.save-button-disabled {
    color: gray;
    background-color: lightgray;
    border: 5px solid black;
    font-weight: 900;
    font-size: 36px;
    border-radius: 10px;
    width: 200px;
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    user-select: none;
}
.new-wordlist ol {
    border: 1px solid black;
    min-height: 20px;
    min-width: 100px;
}
.new-wordlist ol li {
    margin: 3px 10px
}
.new-wordlist form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new-wordlist form input {
    margin: 5px;
}